// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: rgb(171,235,9);
  background: linear-gradient(90deg, rgba(171,235,9,1) 10%, rgba(13,172,240,1) 150%);
}

// navbar
#header {
  margin-bottom: 50px;
  nav {
    .collapse {
      margin-top: -8px;
      margin-bottom: -8px;
    }
    ul {
      li {
        .nav-link {
          color: #000;
          font-size: 30px;
        }
        .nav-link:hover {
          color: white;
          border-bottom: 3px solid #006374;
        }
      }
    }
  }
}

// index
#section_list_index {
  .form-control {
    height: 70px;
    background-color: rgba(250,250,250,.4);
  }
  .card {
    background-color: transparent;
    min-height: 120px;
    .card-body {
      .row {
        i {
          font-size: 24px;
        }
        .col-md-2 {
          .fa-square {
          background-color: rgba(250,250,250,.4);
          color: white;
          }
        }
        .col-md-2 {
          .fa-pencil-alt {
            color: #000;
          }
          .fa-pencil-alt:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

#section_list_show {
  margin-top: 20px;
  .row {
    .col-md-8 {
      .card {
        background-color: transparent;
        ul {
          min-height: 300px;
          li {
            background-color: transparent;
          }
        }
        .row {
          i {
            font-size: 24px;
          }
          .fa-square {
            color: white;
          }
        }
      }
    }
  }
}